*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -20;
}
.container .hero{
    background-color: blue;
    width: 100%;
    height: 100vh;
    position: relative;
}
header{
    height: 50px;
    width: 100%;
    position: relative;
    top: 13px;
    background-color: #fff;
}
header label{
    display: block;
    height: 100%;
    width: 100%;
}
header  .nav-menu,
header .logo{
    bottom: 0;
    position: absolute;
}
header .nav-menu{
    height: 47px;
    width: 47px;
    background-color: green;
    left: 13px;
}
header .logo{
    height: 48px;
    width: 103px;
    background-color: red;
    right: 13px;
}

.hero .hero-text{
    height: 150px;
    width: 90%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: grey;
}

.hero button{
    height: 44.73px;
    width: 138px;
    display: block;
    position: relative;
    margin: 0 auto 0 auto;
    top: 45%;
    background-color: orange;
}

.hero .contact-phone{
    width: 110px;
    height: 47.71px;
    background-color: yellow;
    position: absolute;
    right: 11px;
    bottom: 42.65px;
}

/* Dept Finder */

.container .dept-finder{
    height: 1067px;
    padding-top: 35px;

    /* width: 100vw; */
    background-color: red;
}
form{
    /* margin-top: 35px; */
}
input[type="search"],
input[type="button"]{
    display: block;
    margin: 0 auto;
}

input[type="search"]{
    border-width: 6px 13px;
    border-color: white;
    border-style: solid;
    width: 338px;
    height: 54.67px;
    background-color: #f2f2f2;
}

input[type="button"]{
    margin-top: 46.72px;
    width: 338px;
    height: 50.69px;
}